<html>
  <head>
    <title>excel数据完成</title>
    
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="${basePath}/resources/css/zxdk.css">
	
	<script type="text/javascript" src="${basePath}/resources/jquery/jquery-1.2.6.pack.js"></script>
	<script type="text/javascript" src="${basePath}/resources/js/zxdk.js"></script>
	
	<script language="JavaScript">
	jQuery(document).ready(function(){
		detailPageStyle();
	});
	</script>
	<style>
	body{
		font-size:13px;
	}
	td{
	font-size:13px;
	}
	</style>
  </head>
  
  <body>
  <#include "../showerr.ftl" parse="true">
  <form method="post" enctype="multipart/form-data" >
  
  <table width="90%" border="0">
    <tr>
      <td align="right" height="40" width="100%">&nbsp;</td>
    </tr>
    <tr valign="middle">
      <td height="200">&nbsp;&nbsp;执行结果提示：&nbsp;${message?if_exists}</td>
    </tr>
    <tr>
      <td align="right" height="60" align="center">
	  <input type="button" value=" 关闭 " onclick="window.close()">&nbsp;&nbsp;</td>
    </tr>
  </table>
  </form>
  </body>
</html>
