/*
 *name:base styles
 *date:2009-6-23
 *auth:www.imchooser.com yangjianliang
 */
body {
    margin: 5px;
    padding-top: 3px;
    padding-left: 10px;
    background: #f1f1f1 url(../../resources/images/vista/mainbg.png) repeat-x left top;
    font-size: 12px;
}

TD {
    COLOR: #000000;
    FONT-SIZE: 11px;
    LINE-HEIGHT: 18px;
}

input {
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    padding: 3px;
}

fieldset {
    padding-left: 5px;
    padding-bottom: 5px;
    width: 98%;
}

/********************************* 下面为 list iframe 页面里的样式控制 **********************************************/ .maginB {
    margin-bottom: 5px;
} .tishileft {
    background: url(../../resources/images/vista/bg_ts.png) no-repeat left center;
} .tishiright {
    background: url(../../resources/images/vista/bg_ts.png) no-repeat right center;
} .chaxunleft {
    background: url(../../resources/images/vista/bg_search.png) no-repeat left center;
} .chaxunright {
    background: url(../../resources/images/vista/bg_search.png) no-repeat right center;
} .chaxunleftt {
    background: url(../../resources/images/vista/bg_searcht.png) no-repeat left center;
} .chaxunrightt {
    background: url(../../resources/images/vista/bg_searcht.png) no-repeat right center;
} .chaxunlefts {
    background: url(../../resources/images/vista/bg_searchs.png) no-repeat left center;
} .chaxunrights {
    background: url(../../resources/images/vista/bg_searchs.png) no-repeat right center;
}.chaxunleftf {
    background: url(../../resources/images/vista/bg_searchf.png) no-repeat left center;
} .chaxunrightf {
    background: url(../../resources/images/vista/bg_searchf.png) no-repeat right center;
} .infomainbg {
    background: url(../../resources/images/vista/bg_info.png) no-repeat left top;
} .infomainright {
    background: url(../../resources/images/vista/bg_info.png) no-repeat right top;
} .infobottomleft {
    background: url(../../resources/images/vista/bg_info.png) no-repeat left bottom;
} .infobottomright {
    background: url(../../resources/images/vista/bg_info.png) no-repeat right bottom;
} .middle {
    text-align: center;
}

tr.alt td {
    background: #f1f3f4; /*这行将给所有的tr加上背景色*/
}

tr.over td {
    background: #bcd4ec; /*这个将是鼠标高亮行的背景色*/
} .leftborder {
    border-left: 1px solid #d7d8d9;
} .rightborder {
    border-right: 1px solid #d7d8d9;
} .btn_gn {
    /*float: left;*/
    width: 100%;
    font-size: 12px;
    line-height: normal;
    margin: 0 0 0 2px;
    padding: 0;
} .btn_gn ul {
    margin: 0;
    padding: 0;
    list-style: none;
} .btn_gn li {
    display: inline;
    margin: 0;
    padding: 0;
} .btn_gn a {
    float: left;
    background: url(../../resources/images/vista/btn_gn_normal.png) no-repeat left top;
    margin: 0 2px;
    padding: 0 0 0 10px;
    text-decoration: none;
    height: 26px;
    cursor: pointer;
} .btn_gn a span {
    float: left;
    display: block;
    background: #f1f1f1 url(../../resources/images/vista/btn_gn_normal.png) no-repeat right top;
    padding: 5px 17px 5px 6px;
    height: 16px;
    color: #000;
} .btn_gn a:hover span {
    color: #000;
} .btn_gn a:hover {
    background-position: 0 -26px;
} .btn_gn a:hover span {
    background-position: 100% -26px;
} .btn_gn_disable a {
    float: left;
    background: url(../../resources/images/vista/btn_gn_disable.gif) no-repeat left top;
    margin: 0 2px;
    padding: 0 0 0 10px;
    text-decoration: none;
    height: 26px;
    cursor: pointer;
} .btn_gn_disable a span {
    float: left;
    display: block;
    background: #f1f1f1 url(../../resources/images/vista/btn_gn_disable.gif) no-repeat right top;
    padding: 5px 17px 5px 6px;
    height: 16px;
    color: #000;
} .btn_gn_disable a:hover span {
    color: #000;
} .btn_gn_disable a:hover {
    background-position: 0 -26px;
} .btn_gn_disable a:hover span {
    background-position: 100% -26px;
} .btn_pages {
    margin: 0;
    padding: 0;
} .btn_pages ul {
    margin: 0;
    padding: 0;
} .btn_pages li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
} .btn_pages li a {
    float: left;
    display: block;
    width: 25px;
    height: 22px;
} .btn_pages li a:hover {
} .btn_pages li a span {
    display: none;
} .blue {
    color: #0163a2;
    font-weight: bold;
} .refreshButton {
    width: 18px;
    height: 18px;
    cursor: pointer;
} .sortlink {
    TEXT-DECORATION: none;
    cursor: pointer;
}

/* list table 里的 listHead 中的 th 样式 */ 
#listHead th {
    font-weight: bold;
    border-bottom: 1px solid #d7d8d9;
    font-size:12px;
}
/* list table 里的 listHead 中的 排序的小箭头的 样式 */ 
.arrow{
    font-size:10px;
}
/* list table 里的 listData 中的 td 样式 */ 
#listData td {
    border-left: 1px solid #d7d8d9;
    border-bottom: 1px solid #d7d8d9;
    vertical-align: top;
    line-height: 24px;
}

/******************************************* 翻页 *******************************************/ 
.rollpage {
    margin: 0;
    padding: 0;
    width: 98%;
} .rollpage div {
    display: inline;
    list-style: none;
    list-style-type: none;
} .rollpage a {
    width: 23px;
    height: 22px;
} .rollpage a span {
    display:none;
} .rollpage div.home a {
    background: url(../../resources/images/vista/btn_pages_normal.png) 0 bottom;
} .rollpage div.home a:hover {
    background-position: 0 top;
} .rollpage div.pre a {
    background: url(../../resources/images/vista/btn_pages_normal.png) 75px bottom;
} .rollpage div.pre a:hover {
    background-position: 75px top;
} .rollpage div.next a {
    background: url(../../resources/images/vista/btn_pages_normal.png) 50px bottom;
} .rollpage div.next a:hover {
    background-position: 50px top;
} .rollpage div.end a {
    background: url(../../resources/images/vista/btn_pages_normal.png) right bottom;
} .rollpage div.end a:hover {
    background-position: right top;
} #rollpage_table {
    /*
     * float:right;
     * */
} .rollpage .info {
    vertical-align:top;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
} .rollpage_go {
    padding-right: 20px;
    padding-top: 6px;
    background: url(../../resources/images/vista/btn_goact.png) left top no-repeat;
    cursor: pointer;
}

/********************************* 下面为 input page 页面里的样式控制 **********************************************/ 
.wintitle_left {
    background-image: url(../../resources/images/vista/windowtop.png);
    background-repeat: no-repeat;
    background-position: left top;
} .wintitle_right {
    background-image: url(../../resources/images/vista/windowtop.png);
    background-repeat: no-repeat;
    background-position: right top;
} .winmain_left {
    background-image: url(../../resources/images/vista/windowbottom.png);
    background-repeat: no-repeat;
    background-position: left bottom;
} .winmain_right {
    background-image: url(../../resources/images/vista/windowbottom.png);
    background-repeat: no-repeat;
    background-position: right bottom;
} .borderlineh {
    border: 1px solid #C3C3C3;
    background-color: #f5f5f5;
} .fzline {
    background-image: url(../../resources/images/vista/fuzhuline.png);
    background-repeat: repeat-x;
    background-position: left bottom;
}

input {
    border: 1px solid #DDD;
    height: 20px;
}

textarea {
    border: 1px solid #DDD;
    height: 100px;
} #SystemErrorMessage {
    color: red;
}
