<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- 1.系统管理菜单里维护用户的时候，操作事件接口，具体实现的类判断是否向某个平台同步（如DHI）对用户的变更 -->
	<bean id="idUserCustomExtService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.yszoe.biz.service.impl.IdUserCustomExtServiceImpl" autowire="byName" />
		</property>
	</bean>
	
	<!-- 2.向GBS平台同步数据 -->
	
	<!-- 2.1 负责与GBS系统同步单位信息的类，包括公司和场 -->
	
	<!-- 2.1.1向GBS同步单位信息的远程接口类,包括公司和场-->
	<bean id="msysSyncDepartToGbsService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
	    <property name="serviceUrl" value="http://127.0.0.1:8008/remoting/MsysSyncDepartToGbsService"/>
	    <property name="serviceInterface" value="com.farmstock.platform.bjzx.spring.MsysSyncDepartToGbsService"/>
	</bean>
	
	<!-- 2.1.2  向GBS同步用户的远程接口类-->
	<bean id="msysSyncUserToGbsService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
	    <property name="serviceUrl" value="http://127.0.0.1:8008/remoting/MsysSyncUserToGbsService"/>
	    <property name="serviceInterface" value="com.farmstock.platform.bjzx.spring.MsysSyncUserToGbsService"/>
	</bean>
   
	<!-- 3. 向DHI平台同步数据 -->
	<!-- 3.1 负责同步公司和场的类 -->
	<bean id="syncDepartService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.yszoe.biz.remote.SyncDepartService" autowire="byName" />
		</property>
	</bean>
	<!-- 3.1.1 向DHI同步单位信息的远程接口类 -->
	<bean id="msysSyncDepartService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
	    <property name="serviceUrl" value="http://127.0.0.1:9008/dhi/remoting/MsysSyncDepartService"/>
	    <property name="serviceInterface" value="com.farmstock.platform.fd_dairycenter.spring.MsysSyncDepartService"/>
	</bean>
	<!-- 3.2 负责向DHI平台同步用户的类 -->
	<bean id="syncUserService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.yszoe.biz.remote.SyncUserService" autowire="byName" />
		</property>
	</bean>
	<!-- 3.2.1 向DHI同步用户的远程接口类 -->
	<bean id="msysSyncUserService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
	    <property name="serviceUrl" value="http://127.0.0.1:9008/dhi/remoting/MsysSyncUserService"/>
	    <property name="serviceInterface" value="com.farmstock.platform.fd_dairycenter.spring.MsysSyncUserService"/>
	</bean>	
	
	<!-- 3.3 向Dhi平台同步区域的类 -->
	<bean id="syncAreaService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.yszoe.biz.remote.SyncAreaService" autowire="byName" />
		</property>
	</bean>	
</beans>
