/* bulletin.css */
ul.bulletin_world {
	margin: 0;
}
ul.bulletin_world li{margin: 0 0 10px;padding: 5px 0;border-bottom:1px solid #E6E6E6;background:none;position:relative;width:100%;line-height:normal;}
ul.bulletin_world li a{
	font-weight: bold;
}

a.mostread {
	padding-left: 10px;
	font-size: 1.5em;
}
ul.bulletin_world li div.box-left{background: #F2F0ED url(img/stripe-bg-2.png) repeat 0 0;border-right:1px solid #ccc;padding:5px;position:absolute;}
ul.bulletin_world li div.box-left img{background:#fff;padding:3px;position:static;}
ul.bulletin_world li div.box-left span.hits{color:#666;display:block;padding-top:3px;text-transform:uppercase;text-align:center;font-weight:normal;font-size:92%;
}


ul.bulletin_world li div.box-left span.hits img {
	background-image: none;
	background-color: transparent;
}
ul.bulletin_world li div.box-right strong{display:block;}
ul.bulletin_world li div.box-right{padding-left:90px;padding-left:200px !important;min-height:147px;}
ul.bulletin_world li div.box-right a.readon{font-size:92%;text-transform:uppercase;}
ul.bulletin_world li div.box-right span.post-date{font-size:92%;color:#999;display:block;margin-top:5px;
	padding-left: 10px;
}
ul.bulletin_world li div.box-right span.post-date span{font-size:100%;}
line-height:1.2;display:block;}

.post-shuxing {
	padding: 2px 10px;
	display: block;
}

.typo-bubble-small{margin-bottom: 5px;padding-bottom: 5px;
}.typo-bubble-small .bubble-small-inner{background:#E2EFF5;color:#666;padding: 7px;color:#333;line-height: 1.4;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}.typo-bubble-small .bubble-small-inner span.post-time{border-bottom:1px dotted #CAE4F1;display:block;margin-bottom:5px;padding:0 0 5px;text-transform:uppercase;font-size:9px;text-shadow:0 1px 1px #fff;}.typo-bubble-small .bubble-small-inner span.avatar{background:#fff;border:1px solid #ccc;display:block;float:left;margin: 0 10px 0 0;padding:2px;box-shadow:0 0 3px rgba(0,0,0,.3) -moz-box-shadow:0 0 3px rgba(0,0,0,.3);-webkit-box-shadow:0 0 3px rgba(0,0,0,.3)
}.typo-bubble-small span.author{background:url('img/arrow-down-grey.gif') no-repeat 20px 0px;display:block;font-size: 92%;padding: 10px 0 0 10px;
	line-height: 1.5em;
}

p.readmore {
	margin: 5px 0 0;
	float: right;
}


.event-day{background-color:#f9f9f9;border:1px solid #eee;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left: 75px;position:relative;margin: 6px 0 10px;
	height: 68px;
}
.event-day:hover{background:#ffffcc;}
.event-day div.box-left-wrap{background:url('img/curl-bg1.png') no-repeat right top;position:absolute;top:-5px;left:5px;width: 70px;}
.event-day div.box-left{margin-right:5px;}
.event-day span.date{color:#fff;font-size: 300%;display:block;text-align:center;line-height:1;}
.event-day span.month-year{color:#fff;display:block;font-family:Arial,Helvetica,sans-serif;padding:3px 0;text-transform:uppercase;text-align:center;font-size:9px;}
.event-day div.box-right{padding: 5px 10px 0;}
.event-day strong{display:block;}
.event-day a.readon{font-size:10px;text-transform:uppercase;}
.event-day-blue div.box-left{background:#069;}
.event-day-pink div.box-left{background:#E5076A;}
.event-day-anhong div.box-left{background: #993300;}
.event-day-zise div.box-left{background: #6e46a6;}
.slider .nr ul li {
	border-bottom: 1px dashed #ccc;
	background: url(img/point.png) no-repeat left center;
	padding-left: 15px;
}
.xiangguan .nr ul li {
	border-bottom: 1px dashed #ccc;
	background: url(img/point.png) no-repeat left center;
	padding-left: 15px;
}
.level {
	width: 30%;
	text-align: center;
	display: block;
	float: left;
}

#hotcg div.nr ul li {
	background-image: none;
	padding-left: 0;
	clear: both;
	border-bottom-style: none;
}

.name {
	width: 70%;
	text-align: center;
	display: block;
	float: left;
}

#hotcg div.nr ul.clearfix li a.level span {
	color: #ff8900;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

.ord {
	padding: 10px;
}
.pagelist {
	padding: 10px;
	text-align: center;
}

h6 {
	margin-bottom: 5px;
	margin: 0;
}

#hotcg div.nr div span.level,
#hotcg div.nr div span.name {
	background: url(img/cgtitlebg.png) no-repeat center top;
	height: 22px;
}
span.post-star {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}

span.post-date {
	margin: 0;
	padding: 4px 0 0;
	display: block;
	float: left;
}
.title_cgshow h3{
	font-size: 1.6em;
	color: #000;
	text-align: left;
	padding: 0 0 0 20px;
	border-bottom-style: none;
	margin: 0;
}
.title_cgcx h3{
	font-size: 1.4em;
	color: #000;
	text-align: left;
	padding: 0 0 0 20px;
	border-bottom-style: none;
	margin: 0;
}
.title_cgcxshow h3{
	font-size: 1.4em;
	color: #000;
	padding: 10px 0 0 20px;
	border-bottom-style: none;
	margin: 0;
	text-align: center;
}
#cgshow-pic {
	width: 368px;
	float: left;
	background: url(img/curl-bg.png) no-repeat right top;
	padding-right: 10px;
	margin-top: -35px;
}

#cgshow-nr {
	width: 290px;
	float: left;
}

#cgshow-nr li span {
	color: #7a7b78;
}

.star {
	float: right;
	padding-top: 5px;
	padding-right: 20px;
}

.pingfen {
	height: 32px;
	background: url(img/bg_pj.png) no-repeat left center;
	border-right: 1px solid #a3a3a3;
	margin-top: 10px;
}
.pingfen span {
	padding-top: 7px;
	display: block;
	float: left;
}

.pingfen span.hpl {
	padding-left: 20px;
	padding-right: 10px;
}
.pingfen span.num-g,
.pingfen span.good {
	color: #ff6e00;
	font-size: 1.7em;
	padding-top: 0;
	padding-right: 20px;
}
.pingfen span.good,
.pingfen span.bad {
	padding-left: 20px;
	padding-right: 5px;
}
.pingfen span.bad {
	font-size: 1.7em;
	padding-top: 0;
	color: #2c6fff;
}
.anniu {
	margin-top: 5px;
	padding-top: 5px;
}
blockquote div.gk_blockquote3 {
padding-bottom:5px;
background:transparent url(img/open2.png) no-repeat left bottom; }
blockquote div.gk_blockquote3 div {
padding:5px 27px 0 27px;
background:transparent url(img/close2.png) no-repeat right top; }

blockquote.good,
blockquote.bad {
	padding: 10px;
	margin: 10px;
	color:#666;padding:10px;color:#333;line-height: 1.4;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
}
blockquote.good {
	background: #fdf1da;
}
blockquote.bad {
	background:#E2EFF5;
}
/* picnews.css */
ul.picnews {
	margin: 0;
}
ul.picnews li{margin: 0 0 2px;padding: 5px 0;border-bottom:1px solid #E6E6E6;background:none;position:relative;width:100%;line-height:normal;}
ul.picnews li a{
	font-size: 110%;
	font-weight: bold;
}
ul.picnews li div.box-left{background: #F2F0ED url(img/stripe-bg-2.png) repeat 0 0;border-right:1px solid #ccc;padding:5px;position:absolute;}
ul.picnews li div.box-left img{background:#fff;padding:3px;position:static;}
ul.picnews li div.box-left span.hits{color:#666;display:block;padding-top:3px;text-transform:uppercase;text-align:center;font-weight:normal;font-size:92%;}
ul.picnews li div.box-right strong{display:block;}
ul.picnews li div.box-right{padding-left:90px;padding-left:110px !important;min-height:81px;}
ul.picnews li div.box-right a.readon{font-size:92%;text-transform:uppercase;}
ul.picnews li div.box-right span.post-date{font-size:92%;color:#999;display:block;margin-top:5px;}
ul.picnews li div.box-right span.post-date span{font-size:100%;}
line-height:1.2;display:block;}
ul.bulletin_world li div.box-right{width:70%;}

ul.hwpics {
	width: 90px;
	float: left;
}
ul.hwlist {
	float: left;
	padding-left: 10px;
}
ul.hwlist li {
	padding-left: 10px;
	background: url(img/point.png) no-repeat left center;
}
ul.hwpics li {
	border-bottom-style: none;
}
ul.hwpics li img{padding: 0;position:static;
	margin: 0;
}
.ad_cx {
	text-align: center;
	margin-bottom: 0;
	margin-top: 7px;
}

dl.cginfo dt {
	border-bottom: 1px solid #ccc;
	font-size: 1.2em;
	border-top: 1px solid #ccc;
	padding: 3px 0 3px 15px;
	background: url(img/lineboxbg.png) repeat-x left top;
}
dl.cginfo dd {
	padding: 5px 5px 5px 30px;
	background: url(img/next-btn.png) no-repeat 20px 10px;
}
input {
	border: 1px solid #ccc;
}

td {
	padding: 3px;
}

/* @group tabs */

.idTabs {
	margin-top: 15px;
}

.idTabs ul.tabstitle {
	height: 27px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	background: url(img/lineboxbg.png) repeat-x left top;
	border-top: 1px solid #fffeff;
}
.idTabs ul.tabstitle li {
	float: left;
}
.idTabs ul.tabstitle li span {
  display: inline-block;
  padding: 10px 10px 0;
  text-decoration:none!important;
  margin: -5px 0 0;
  font: 14px Verdana;
  color: #000;
	height: 22px;
	float: left;
	text-align: center;
}

.idTabs ul.listshow li {
	padding: 5px;
	float: left;
}
.idTabs ul.tabstitle li.selected span  {
  margin-bottom:0;
  color:#000;
  cursor:default;
	border-top: 5px solid #2380c8;
	height: 22px;
	padding-top: 5px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background-color: #fffeff;
}
.idTabs ul.listshow {
	padding-left: 3px;
	margin-bottom: 5px;
}

.idTabs ul.listshow li a {
	display: block;
	height: 55px;
	float: left;
}

.idTabs ul li em {
	font-weight: normal;
	font-style: normal;
	color: #f58100;
	padding: 0 0 0 7px;
	font-size: 10px;
}

/* @end */

/* @group table */

/*内容列表*/
table.mainTab,
table.subTab  { width:100%; border-collapse:collapse;}
.subTab td,
.mainTab td { text-align:center; line-height: 26px; border: 1px solid #ccdbdb;
	padding: 0;
}
table.mainTab a,
table.subTab a {
	text-decoration: underline;
}
.mainTab .top td { background:#f6f5f0; color:#696969;}
.subTab .top th { color:#696969;
	background-color: #f6f5f0;
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
	border: 1px solid #e8e1d9;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 10px;
}


.subTab .top th span {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}
.subTab .top th span.tmpR {
	padding: 0 0 0 15px;
	margin-left: 15px;
	border-left: 1px solid #bbb;
	font-size: 14px;
	font-weight: bold;
}
.mainTab .top .tmpL { float:left; padding:4px 0 0 10px;}
.mainTab .top .tmpR { float:right; padding-right:8px; background:url(img/tmp.gif) no-repeat 0 5px; padding-left:20px;
}
.mainTab .top .tmpR img { vertical-align:middle; padding:1px; margin-left:1px;}
.mainTab .top span { color:#f88101;}
.mainTab .top span a { color:#f88101; text-decoration:none;}
.mainTab .top span a:hover { text-decoration:underline;}
.mainTab th { text-align:center; border-left:1px solid #dbd8c5; border-bottom:1px solid #dbd8c5; color: #000; background: #e6f0ca;
	padding: 5px 0;
	margin: 0;
	width: 39px;
	border-right: 1px solid #dbd8c5;
}
.Tline {
	border-top: 1px solid #dbd8c5;
}
.mainTab th.title02 {
	background: url(img/bg_riqiwip.png) repeat-x left top;
	padding: 10px;
	color: #000;
}
.subTab th { text-align:center; border-left:1px solid #dbd8c5; border-bottom:1px solid #dbd8c5; color: #000; background: #eee8e3;
	padding: 0;
	margin: 0;
	border-right: 1px solid #dbd8c5;
}
.mainTab th.on { background: #7fb1f2;
	padding-top: 4px;
}
.mainTab th.matchDate { background: url(img/xiangm_bg.gif) repeat-x; height: 28px; line-height:28px; font-weight:normal; color:#fff; font-size:14px; width:145px;}

.subTab th.title01 { background: url(img/xiangm_bg.gif) repeat-x; height: 28px; line-height:28px; font-weight:normal; color:#fff; font-size:14px;}
.mainTab th span { display:block; padding-top:6px; margin-top:2px;}

.mainTab td.leSort { text-align:left; padding-left: 20px;}
.mainTab td.match,
.mainTab th.match { background: url(img/bullet2.gif) no-repeat; height: 27px; text-align:center;cursor:pointer;}

.subTab th.ccmd { background: url(img/bg_tableheader.jpg) repeat-x; font-weight: 700; color: #000; font-size: 12px;
	line-height: 30px;
	height: 30px;
}
.mainTab th.ccmd { background: url(img/lineboxbg.png) repeat-x; font-weight: normal; color: #000; font-size: 12px;
	line-height: 26px;
}

/* @end */

/* @group subnav */

.subnav {
	background: url(img/subnavshow.png) no-repeat 60px top;
	padding: 7px 0 3px 10px;
}
.subnav ul {
	margin: 0;
	padding: 0 0 0 20px;
	background-color: #e9f4ff;
}
.subnav ul li {
	float: left;
	padding: 5px;
}
.subnav ul li a {
	float: left;
}

/* @end */

#ckfs {

}

/* add for gym home page, for price list */
fieldset {
    padding:5px;
    margin: 5px;
    color:#333;
    border: 1px dotted #1696ca;
}
legend {
    color: #000;
    font-weight:800;
    background: #add7ff;
	border: 1px solid #aad8ff;
	padding: 2px 10px;
}
.xmnr{
	color: #e97c00;
	}
span.yuanjia {
	text-decoration: line-through;
	color: #a19ead;
}
.xmtitle {
	color: #006699;
}


/* 2011年3月11日更新内容 往下 */

/* @group cgtabs */

.cgTabs {
	margin-top: 15px;
	background-color: #f9f9f9;
}

.cgTabs ul.tabstitle {
	height: 27px;
	border-bottom: 3px solid #e7bf00;
	margin-bottom: 1px;
	background-image: url(img/stripe-bg.png);
	border-top: 1px solid #fffeff;
}
.cgTabs ul.tabstitle li {
	float: left;
}
.cgTabs ul.tabstitle li span {
  display: inline-block;
  padding: 5px 0 0;
  text-decoration:none!important;
  font: 14px Verdana;
  color: #000;
	height: 22px;
	float: left;
	text-align: center;
	background-color: #f3f3f3;
	width: 113px;
}

.cgTabs ul.listshow li {
	padding: 5px;
	float: left;
}
.cgTabs ul.tabstitle li.selected span  {
  margin-bottom:0;
  color: #5e3800;
  cursor:default;
	height: 22px;
	padding-top: 10px;
	background: url(img/tab_bg02.jpg) no-repeat left top;
	margin-top: -5px;
}
.cgTabs ul.listshow {
	padding-left: 3px;
	margin-bottom: 5px;
}

.cgTabs ul.listshow li a {
	display: block;
	height: 55px;
	float: left;
}

.cgTabs ul li em {
	font-weight: normal;
	font-style: normal;
	color: #f58100;
	padding: 0 0 0 7px;
	font-size: 10px;
}

/* @end */

/* @group 评论 tabs */

.comTabs {
	margin-top: 15px;
}

.comTabs ul.tabstitle {
	height: 27px;
	border-bottom: 3px solid #2380c8;
	margin-bottom: 5px;
	background: url(img/lineboxbg.png) repeat-x left top;
	border-top: 1px solid #fffeff;
}
.comTabs ul.tabstitle li {
	float: left;
}
.comTabs ul.tabstitle li span {
  display: inline-block;
  padding: 10px 10px 0;
  text-decoration:none!important;
  margin: -5px 0 0;
  font: 14px Verdana;
  color: #000;
	height: 22px;
	float: left;
	text-align: center;
}

.comTabs ul.listshow li {
	padding: 5px;
	float: left;
}
.comTabs ul.tabstitle li.selected span  {
  margin-bottom:0;
  color: #fffeff;
  cursor:default;
	border-top: 5px solid #eee;
	height: 22px;
	padding-top: 5px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #fffeff url(img/tab_bg03.jpg) repeat-x left top;
}
.comTabs ul.listshow {
	padding-left: 3px;
	margin-bottom: 5px;
}

.comTabs ul.listshow li a {
	display: block;
	height: 55px;
	float: left;
}

.comTabs ul li em {
	font-weight: normal;
	font-style: normal;
	color: #f58100;
	padding: 0 0 0 7px;
	font-size: 10px;
}
a.dp {
	display: block;
	float: left;
	background: url(img/btn_pl.jpg) no-repeat left top;
	width: 102px;
	height: 25px;
	padding-top: 5px;
	text-align: center;
	color: #fffeff;
}
/* @end */

/* @group 点评图示 */

blockquote.good,
blockquote.bad {
	padding: 10px;
	margin: 10px;
	color:#666;padding:10px;color:#333;line-height: 1.4;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
		background: #f5f5f5;

}
blockquote dl {
	margin: 5px 0 0;
	padding-left: 10px;
}
blockquote dl dd,
blockquote dl dt {
	float: left;
}
blockquote dl dd {
	width: 80px;
	height: 17px;
	background: url(img/pl_xm.jpg) no-repeat left center;
	padding-left: 7px;
}
blockquote dl dd a {
	font-size: 12px;
}
blockquote dl dt {
	padding-top: 1px;
}
blockquote dl dt em {
	font-size: 11px;
	padding-left: 5px;
	color: #2076ca;
	font-weight: bold;
}
/* @end */

/* @group 场地、价格信息 */
div.jgxx {
	border: 1px solid #ccc;
	padding: 1px;
	font-size: 12px;
}

table.jiage  { width:100%; border-collapse:collapse;
	margin: 0;
}
.jiage td { text-align:center; line-height: 28px; 
	padding: 0;
}
table.jiage a {
	text-decoration: underline;
}
.jiage .top th { color:#696969;
	background-color: #f6f5f0;
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
	border: 1px solid #e8e1d9;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 10px;
}
.yuanjia {
	color: #c4c4c4;
	text-decoration: line-through;
	font-style: italic;
}
.youhui {
	color: #ff9700;
}

.jiage .top th span {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}
.jiage .top th span.tmpR {
	padding: 0 0 0 15px;
	margin-left: 15px;
	border-left: 1px solid #bbb;
	font-size: 14px;
	font-weight: bold;
}
.Bline {
	border-bottom: 1px solid #ccc;
}
.Dotline {
	border-bottom: 1px dotted #e3e3e3;
}
.jiage th { text-align:center; border-left:1px solid #dbd8c5; border-bottom:1px solid #dbd8c5; color: #000; background: #eee8e3;
	padding: 0;
	margin: 0;
	border-right: 1px solid #dbd8c5;
}
.jiage th.title01 { background: url(img/xiangm_bg.gif) repeat-x; height: 28px; line-height:28px; font-weight:normal; color:#fff; font-size:14px;}
.jiage th.ccmd { background: url(img/jgxm.png) no-repeat center bottom; font-weight: normal; color: #000; font-size: 12px;
	line-height: 26px;
	height: 27px;
	border: 2px solid #fffeff;
	border-top-width: 1px;
}

/* @end */

/* @group 我要点评 */

.iwant table {
	margin: 0 20px 10px;
}
.iwant h3 {
	height: 36px;
	margin: 0 0 15px;
	padding: 0;
	border-style: none;
	background: url(img/iwdp_bg.jpg) repeat-x left top;
}
.iwant h3 span {
	display: block;
	float: left;
	height: 36px;
	width: 155px;
	text-indent: -999px;
	background-image: url(img/iwdp.jpg);
	padding: 0;
	margin: 0;
}


/* @end */