body{
	/*background-color: #cad7f7;*/
}
table {
	FONT-SIZE: 12px;
}
td {
	FONT-SIZE: 12px; 
}
thead th {
	font-size: 13px;
	background:#006699;
	color:#FFFFFF;
	line-height:20px;
	height:30px;
	text-align:center;
}
tbody#listContent td {
	padding:5px;
	border-bottom:dashed 1px #95bce2;
	vertical-align:top;
	line-height:20px;
	text-align:left;
}
tfoot td {
	padding:5px;
	vertical-align:middle;
	text-align:center;
	height:35px;
	text-align:center;
}
tr.alt td {
	background:#ecf6fc;  /*这行将给所有的tr加上背景色*/
}
tr.over td {
	background:#bcd4ec;  /*这个将是鼠标高亮行的背景色*/
}
Input {
	FONT-SIZE: 9pt; 
	LINE-HEIGHT: 15px;
	border-width:1px;
	border-color: #e3e3e3;
	font-family:"Times New Roman", Times, serif;
}
div#error {
	text-align:center;
	vertical-align:middle;
	padding:5px;
}
div#inputarea {
	text-align:center;
	vertical-align:middle;
}

div#bodyhead {
	top: 0px;
	left: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
	BACKGROUND: url(/images/topbg_bg.jpg) #ffffff no-repeat top right;
    /*
	border-bottom:1px solid #999999;
	filter: DropShadow(Color=#000000, OffX=1, OffY=1, Positive=1 ) ;
	padding: 20px;
    background-color: #ff9999;fenhong
    background-color: #99cc66;qinglv
    background-color: #99cc00;lv
    background-color: #336600;shenglv
    background-color: #3399ff;lan
    background-color: #ff9900;juhong
    background-color: #cc9900;hui
    background-color: #CA95CA;zi
	position:absolute; 
	z-index:1;
    background-color: #ECE9D8;
	*/
}
div#bodymain {
	top: 0px;
	margin: 0px;
	padding: 0px;
	clear:both;
     width: 100%;
	display:inline;
	/*
    width:835px;
	BACKGROUND: url(/images/dlog_bg.gif) #c1cedf ;
	height: 78%;
	border: 1px solid #000000;
    position:absolute;
	z-index:3;*/
}
div#bodyleft {
	float: left;
	width: 199px;
	top: 0px;
	left: 0px;
	border-right:1px dashed #cccccc;
/*
	height: 82%;
	FILTER: Alpha( style=1,opacity=0,finishOpacity=100,startX=100,finishX=100,startY=100,finishY=0); 
	display:inline;
    background-color: #ffcc00;
	position:absolute; 
	z-index:2;
*/
}
div#bodyright {
	float:right;
	height:100%;
	width: 77%;
	display:inline;
	/*
    width:835px;
	BACKGROUND: url(/images/dlog_bg.gif) #c1cedf ;
	height: 78%;
	border: 1px solid #000000;
    position:absolute;
	z-index:3;*/
}

div#bodyfooter {
	background: #ECE9D8;
	border-top: solid 1px #FFFFFF;
	text-align: center;
	height: 30px;
	width:100%;
	clear: both;
}

.titlefont{
	font-size: 10pt;
	font-weight: 700 !important;
	/*
	font-family: 新宋体;
	color: #000000;
	padding-top:10px;
	margin-bottom: 10px;*/
}

.formtablebg{
	BACKGROUND-COLOR: #EFF7D2;
	border:1px solid #cccccc;
	/*border:1px solid #0099FF;
	BACKGROUND-COLOR: #ECF8FF;*/
}
.tablebg{
	BACKGROUND-COLOR: #EFF7D2;
}

.tableBottonBg{
	BACKGROUND-COLOR: #A6CF36;
}
.leftMenuBg{
	border-top:1px solid #E6FFE6;
	border-left:1px solid #E6FFE6;
	border-right:1px solid #ffffff;
	border-bottom:1px solid #E6FFE6;
	BACKGROUND-COLOR: #EFF7D2;
	/*-moz-opacity:0.9;*/
}
.headfont{
	font-family:"Times New Roman", Times, serif;
	font-size: 13pt;
	font-weight: 500 !important;
	cursor:pointer;
	/*
	width: 100%;
	color: #00001C;
	filter: DropShadow(Color=#000000, OffX=1, OffY=1, Positive=1 ) ;
	filter:mask(color=#8E0B0E) Shadow(Color=#ffffff, Direction=135)chroma(color=#8E0B0E);
	*/
}
.headclickedfont{
	font-size: 13pt;
	font-weight: 500 !important;
	font-family:"Times New Roman", Times, serif;
}
