/*
 *name:base styles
 *date:2012-1-4
 *auth:yangjianliang
 */
body {
    background: #fff url(../../../UI/userui/img/Bubbles.jpg) repeat top left;
    font-size: 12px;
    text-align: center;
	font-family: Segoe UI;
	color: 000000;
	margin-left: 10 px;
	margin-top: 15 px;
}

input {
    border: 1px solid #DDD;
    height: 20px;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    padding: 3px;
}

textarea {
    border: 1px solid #DDD;
    height: 100px;
}

.footer{
	width: 960px;
	margin:0 auto;/**居中*/
}

