/*
 *name:base styles
 *date:2009-6-23
 *auth:www.imchooser.com yangjianliang
 */
body {
    background: #fff url(../../resources/images/vista/mainbg.png) repeat-x left top;
    font-size: 12px;
}

TD {
    COLOR: #000000;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 18px;
}

input {
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    padding: 3px;
    border: 1px solid #DDD;
    height: 20px;
}

fieldset {
    padding-left: 5px;
    padding-bottom: 5px;
    width: 98%;
}

textarea {
    border: 1px solid #DDD;
    height: 100px;
}
#SystemErrorMessage {
    color: red;
}
.footer{
	width: 960px;
	text-align: center;
}
