body {
	background: url(/gsps/resources/images/pages/indexbg.jpg)
		repeat-x left top;
	font-size: 12px;
}

a {
	font-size: 12px;
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #009b00;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	padding: 0;
}

#header {
	background: url(/gsps/resources/images/pages/bg_header.jpg)
		no-repeat left top;
}

#header h1.home {
	margin: 0;
	padding: 0;
	height: 101px;
	background: url(/gsps/resources/images/pages/logo.jpg) no-repeat
		left top;
}

#header h1.home span {
	display: block;
	text-indent: -9999px;
}

#nav {
	height: 32px;
	background-color: transparent;
}

#nav ul.mainnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 32px;
	background-color: transparent;
	float: left;
}

#nav ul.mainnav li {
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
}

#nav ul.mainnav li a {
	display: block;
	padding: 8px 0 0;
	height: 24px;
	background: url(/gsps/resources/images/pages/nav_act.png)
		no-repeat right top;
	width: 100px;
	text-align: center;
	color: #fffeff;
	text-decoration: none;
}

#nav ul.mainnav li a.active,#nav ul.mainnav li a:hover {
	background-image: url(/gsps/resources/images/pages/nav.png);
	color: #000;
}

#nav p.subnav {
	float: right;
	margin: 4px 0 0;
	padding: 8px 0 0;
	width: 300px;
	background: url(/gsps/resources/images/pages/subnav.png)
		no-repeat right;
	text-align: center;
	color: #fffeff;
	height: 20px;
}

#nav p.subnav a {
	color: #fffeff;
	text-decoration: none;
}

#info {
	height: 42px;
}

#info p {
	margin: 0;
	padding: 12px 0 0 20px;
	color: #fffeff;
}

#info p span {
	font-weight: bold;
	color: #ffd800;
}

#shi,#scinfo {
	width: 938px;
	border-bottom: 1px solid #3b9dca;
	border-right: 1px solid #3b9dca;
	border-left: 1px solid #3b9dca;
	background: url(/gsps/resources/images/pages/bg_riqiwip.png)
		repeat-x left top;
	margin-bottom: 20px;
}

#xmlb {
	width: 938px;
	border-bottom: 1px solid #3b9dca;
	border-right: 1px solid #3b9dca;
	border-left: 1px solid #3b9dca;
	background: url(/gsps/resources/images/pages/bg_tableheader.jpg)
		repeat-x left top;
	margin-bottom: 20px;
}

#scinfo {
	height: 134px;
}

#shi {
	height: 35px;
	margin: 0;
	border-bottom-style: none;
}

#qu ul li,#shi ul li {
	float: left;
}

#xmlb ul li {
	float: left;
}

#qu ul li a,#shi ul li a {
	display: block;
	height: 25px;
	padding-top: 10px;
	width: 72px;
	text-align: center;
}

#qu {
	width: 938px;
	border-bottom: 1px solid #3b9dca;
	border-right: 1px solid #3b9dca;
	border-left: 1px solid #3b9dca;
	margin-bottom: 20px;
}

#qu,#shi ul li a.active,#shi ul li a:hover {
	background: url(/gsps/resources/images/pages/bg_tableheader.jpg)
		repeat-x center top;
}

#xmlb ul li a{
	background: url(/gsps/resources/images/pages/bg_tableheader.jpg)
		repeat-x center top;
}

#qu ul li a.active {
	color: #ff9700;
}

#mainTable tbody tr.top th h6 {
	margin: 0;
	float: left;
	padding: 0 0 0 10px;
	font-size: 14px;
}

#scinfo a {
	text-decoration: none;
}

#saicheng h2 {
	font-size: 12px;
	margin: 5px 0;
	padding-left: 40px;
}

#saicheng ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#saicheng .c2 {
	clear: both;
}

#saicheng .c2 .k1 {
	float: left;
	width: 35px;
	text-align: center;
}

#saicheng .c2 .k1 img {
	margin-top: 36px;
}

#saicheng .c2 .k1 a {
	display: block;
	height: 104px;
	width: 35px;
	text-align: center;
}

#saicheng .c2 ul {
	
}

#saicheng .c2 li {
	float: left;
	background: url(/gsps/resources/images/pages/bg_riqi.png)
		no-repeat 0 0;
	width: 84px;
	height: 93px;
	margin: 0 2px;
	padding: 0;
}

#saicheng .c2 li a {
	display: block;
	height: 93px;
}

#saicheng .c2 li a:hover {
	text-decoration: none;
	background: url(/gsps/resources/images/pages/bg_riqi_act.png);
}

#saicheng .c2 li h2 {
	padding: 5px 0 0;
	text-align: center;
	color: #00477c;
	margin: 0;
}

#saicheng .c2 li h3 {
	padding: 0;
	text-align: center;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	margin: 0;
}

#saicheng .c2 li h4 {
	text-align: center;
	padding: 0;
	color: #00477c;
	margin: 0;
	font-size: 12px;
}

#saicheng .c2 li h4 a,#saicheng .c2 li h4 a:visited {
	color: #000;
}

#saicheng .c2 li h4 a:hover {
	color: #000;
}

#saicheng .c2 .on {
	background: url(/gsps/resources/images/pages/bg_riqi_act.png);
}

#saicheng .c2 .on h3 {
	color: #FFFC00;
}

#today {
	background: url(/gsps/resources/images/pages/bg_richeng.png)
		no-repeat left top;
	margin-top: 7px;
	height: 118px;
}

#today h2 {
	font-size: 12px;
	margin: 0;
	padding-left: 12px;
	padding-top: 4px;
	width: 190px;
}

#today ul {
	padding: 5px 0 0 5px;
}

#today ul li {
	margin-bottom: 3px;
}

#jinpai {
	background: url(/gsps/resources/images/pages/bg_jpb.jpg)
		no-repeat center top;
	padding-top: 95px;
}

#jiangpai {
	background: url(/gsps/resources/images/pages/bg_jiangpb.jpg)
		no-repeat center top;
	padding-top: 95px;
}

#jifen {
	background: url(/gsps/resources/images/pages/bg_jfb.jpg)
		no-repeat center top;
	padding-top: 95px;
}

.mytable {
	width: 230px;
	padding: 0;
	margin: 0;
}

th {
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 2px;
}

th.nobg {
	background: none;
}

td {
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	background: #f7f7f7;
	padding: 2px;
	text-align: center;
}

td.alt {
	background: #e8fae5;
}

th.spec {
	background: #f7f7f7 url(/gsps/resources/images/pages/bullet1.gif)
		no-repeat;
	font: 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
}

th.specalt {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	background: #e8fae5 url(/gsps/resources/images/pages/bullet2.gif)
		no-repeat;
	font: 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.title {
	height: 15px;
	padding-top: 8px;
}

td.gpai {
	background-color: #fceca0;
}

td.spai {
	background-color: #e1e1e1;
}

td.bpai {
	background-color: #e9cfb6;
}

#login {
	width: 220px;
	height: 159px;
	background: url(/gsps/resources/images/pages/bg_login.png)
		no-repeat center top;
	margin-bottom: 20px;
}

#login h2 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	height: 27px;
	padding-top: 11px;
	padding-left: 20px;
}

.rp_loginpad {
	float: left;
	width: 282px;
	background: url(/gsps/resources/images/pages/rp_loginbg.jpg)
		repeat-y;
	display: inline;
	padding-bottom: 15px;
	border-bottom: 1px solid #434444;
}

.rp_login {
	float: left;
	margin-top: 13px;
}

.rp_titxt {
	float: left;
	color: #333;
	padding: 16px 0 0 12px;
	height: 23px;
	font-size: 14px;
}

.rp_membrusr,.rp_membrpwd,.rp_membrpwd2,.rp_membrpwd3 {
	clear: left;
	float: left;
	margin: 10px 0 0;
	width: 60px;
	color: #8a8987;
	font-size: 12px;
	padding-left: 10px;
}

.rp_pwdrip {
	float: left;
	margin: 15px 0 0;
	width: 130px;
	height: 15px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #666562;
}
.rp_usrip1 {
	float: left;
	margin: 20px 0 0;
	width: 130px;
	height: 16px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #666562;
}
.rp_usrip2 {
	float: left;
	margin: 15px 0 0;
	width: 130px;
	height: 16px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #666562;
}

.rp_pwdrip {
	margin: 13px 0 0 0;
	width: 34px;
}

.rp_membrpwd {
	margin: 22px 0 0;
	padding-left: 12px;
}
.rp_membrpwd2 {
	margin: 18px 0 0;
	padding-left: 12px;
}
.rp_membrpwd3 {
	margin: 13px 0 0;
	padding-left: 12px;
}


.rp_notmem {
	clear: left;
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4e4b4a;
	margin-top: 7px;
	margin-right: 0;
	margin-bottom: 0;
	width: 220px;
	text-align: center;
}

#histry {
	background: url(/gsps/resources/images/pages/bg_lscj.png)
		no-repeat center top;
}

#histry h2 {
	font-size: 14px;
	padding-top: 10px;
	padding-left: 20px;
	height: 30px;
	margin-bottom: 10px;
}

#histry span {
	width: 200px;
	display: block;
	padding-left: 20px;
	background: url(/gsps/resources/images/pages/point.png) no-repeat
		7px center;
	color: #009b22;
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 14px;
}

#histry ul {
	padding: 0 10px 5px;
	border-bottom: 1px dashed #b2b2b2;
	margin-bottom: 7px;
}

#footer {
	margin-top: 20px;
	border-top: 1px solid #888;
	padding: 10px;
}

#footer p {
	text-align: center;
	margin-bottom: 10px;
	color: #919191;
}

#footer p a {
	color: #919191;
}