/*内容列表*/
table.mainTab,
table.subTab  { width:100%; border-collapse:collapse;}
.subTab td,
.mainTab td { text-align:center; line-height: 28px; border: 1px solid #ccdbdb;
	padding: 0;
}
table.mainTab a,
table.subTab a {
	text-decoration: underline;
}
.mainTab .top td { background:#f6f5f0; color:#696969;}
.subTab .top th { color:#696969;
	background-color: #f6f5f0;
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
	border: 1px solid #e8e1d9;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 10px;
}


.subTab .top th span {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}
.subTab .top th span.tmpR {
	padding: 0 0 0 15px;
	margin-left: 15px;
	border-left: 1px solid #bbb;
	font-size: 14px;
	font-weight: bold;
}
.mainTab .top .tmpL { float:left; padding:4px 0 0 10px;}
.mainTab .top .tmpR { float:right; padding-right:8px; background:url(/gsps/resources/images/pages/tmp.gif) no-repeat 0 5px; padding-left:20px;}
.mainTab .top .tmpR img { vertical-align:middle; padding:1px; margin-left:1px;}
.mainTab .top span { color:#f88101;}
.mainTab .top span a { color:#f88101; text-decoration:none;}
.mainTab .top span a:hover { text-decoration:underline;}
.mainTab th { text-align:center; border-left:1px solid #dbd8c5; border-bottom:1px solid #dbd8c5; color:#fff; background: #7f7b78;
	padding: 0;
	margin: 0;
}
.subTab th { text-align:center; border-left:1px solid #dbd8c5; border-bottom:1px solid #dbd8c5; color:#fff; background: #7f7b78;
	padding: 0;
	margin: 0;
}
.mainTab th.on { background: #7fb1f2;
	
}
.mainTab th.matchDate { background: url(/gsps/resources/images/pages/xiangm_bg.gif) repeat-x;  font-weight:normal; color:#fff; font-size:12px; width:165px;}

.subTab th.matchDate { background: url(/gsps/resources/images/pages/xiangm_bg.gif) repeat-x;  font-weight:normal; color:#fff; font-size:12px;}
.mainTab th span { display:block; padding-top:6px; margin-top:2px;}
.mainTab th span.day_MON { background:url(/gsps/resources/images/pages/riqi.gif) no-repeat center 0; cursor:pointer;}
.mainTab th span.day_TUE { background:url(/gsps/resources/images/pages/riqi.gif) no-repeat center -35px; cursor:pointer;}
.mainTab th span.day_WED { background:url(/gsps/resources/images/pages/riqi.gif) no-repeat center -70px; cursor:pointer;}
.mainTab th span.day_THU { background:url(/gsps/resources/images/pages/riqi.gif) no-repeat center -105px; cursor:pointer;}
.mainTab th span.day_FRI { background:url(/gsps/resources/images/pages/riqi.gif) no-repeat center -140px; cursor:pointer;}
.mainTab th span.day_SAT { background:url(/gsps/resources/images/pages/riqi.gif) no-repeat center -175px; cursor:pointer;}
.mainTab th span.day_SUN { background:url(/gsps/resources/images/pages/riqi.gif) no-repeat center -210px; cursor:pointer;}
.mainTab th span.day_SUN { background:url(/gsps/resources/images/pages/riqi.gif) no-repeat center -210px; cursor:pointer;}
.mainTab td.leSort { text-align:left; padding-left: 20px;}
.mainTab td.match { background: url(/gsps/resources/images/pages/bullet2.gif) no-repeat; height: 24px; text-align:center;cursor:pointer;}
.mainTab .allMatch td { background: #dfecf6;}
.mainTab span.medal { background: url(/gsps/resources/images/pages/goladbg.gif) no-repeat; width:21px; height:21px; color:#b72100;  overflow:hidden; display:block; margin:0 auto; margin-top: 4px; text-align:center; line-height:21px; font-weight:bold;}
#mainTable tbody tr.top td h2 {
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	margin-right: 0;
	margin-top: 0;
	margin-left: 0;
	margin: 0;
}
.subTab th.ccmd { background: url(/gsps/resources/images/pages/bg_tableheader.jpg) repeat-x; font-weight: normal; color: #000; font-size: 12px;
	line-height: 26px;
	height: 28px;
}
.subTab th.xmcj {
	padding: 3px;
	margin: 0;
	border-right: 1px solid #fffeff;
	border-bottom: 1px solid #fffeff;
	background-color: #e4e4e4;
}
.subTab th.xmcj a {
	display: block;
	width: 93px;
	height: 93px;
	padding: 0;
	background: url(/gsps/resources/images/pages/xm_bg.png) no-repeat center center;
}

/* @group tabs */

.idTabs {
  color:#111;

}

.idTabs ul.tabstitle {
	height: 30px;
}
.idTabs ul.tabstitle li {
	float: left;
}
.idTabs ul.tabstitle li span {
  display: inline-block;
  padding: 7px 0 0;
  text-decoration:none!important;
  margin: 0 5px 0 0;
  font:12px Verdana;
  color: #000;
	height: 22px;
	float: left;
	width: 110px;
	text-align: center;
	background: url(/gsps/resources/images/pages/tabbg.png) no-repeat left bottom;
}
.idTabs ul.tabstitle li.selected span  {
  margin-bottom:0;
  color:#000;
  cursor:default;
	background: url(/gsps/resources/images/pages/tab_active.png) no-repeat left top;
}

.idTabs div {
  padding: 0;
  clear:left;
}


/* @end */
