.bodyBg{background:#ffffff;}
.inBg{background:#ffffff;}
.mainTextColor{color:#000000;}
.topbaner{background:none;}
.chinaname{color:#000;text-align:left;font-size:26px;font-style:normal;font-family:ºÚÌå;font-weight:normal;}
.enname{color:#000;text-align:left;font-size:14px;font-style:normal;font-family:Arial;font-weight:normal;}
.headerMenuBorder{height:30px;overflow:hidden;border-width:0;}
.headerMenuLi{padding-top:2px;line-height:28px;height:28px;background:none;margin-top:0;}
.headerMenuList{background:none;}
.headerMenuLiCheck{padding-top:2px;line-height:28px;height:28px;margin:0;border-width:0;}
.headerMenuBottom{height:0;overflow:hidden;border-bottom:0;display:block;}
.headTopic{background:none;}
.bodyCont{background:#fff;border-style:solid;border-color:#ffffff;border-width:1px;}
.bodyContTitle{border-width:0;}
.titleLinkColor{color:#333333;}
.topicLink{color:#333333;}
.description{padding-left:50px;padding-top:40px;}
.imgBorder{border-style:solid;border-color:#d4d4d4;border-width:1px;}
.topDesc{color:#000000;visibility:visible;font-size:16px;font-style:normal;font-family:ËÎÌå;font-weight:normal;}
.bottomDesc{color:#000000;visibility:visible;font-size:14px;font-style:normal;font-family:ËÎÌå;font-weight:normal;}
.topbaner{background:url(http://i04.c.aliimg.com/images/app/winport/layout/diybackground/style/temp61/topbaner.gif) no-repeat left top;}
.headerMenuBorder{height:28px;background:url(http://i04.c.aliimg.com/images/app/winport/layout/diybackground/style/temp61/header_menu.gif) repeat-x left top;}
.headerMenuLi{height:26px;color:#fff;background:url(http://i00.c.aliimg.com/images/app/winport/layout/diybackground/style/temp61/header_menu_li.gif) no-repeat left top;}
.headerMenuLiCheck{height:26px;color:#000;background:url(http://i05.c.aliimg.com/images/app/winport/layout/diybackground/style/temp61/header_menu_check.png) no-repeat center top;}
.headerMenuLiCheck{_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=http://i05.c.aliimg.com/images/app/winport/layout/diybackground/style/temp61/header_menu_check.png,sizingMethod=scale);_background:none;}
.headerMenuBottom{border-bottom:2px solid #0266ac;}
.headTopic{height:200px;background:url(http://i03.c.aliimg.com/images/cn/market/danai/banner_4.jpg) repeat;}
.bodyCont{border-color:#d0e7f5;}
.bodyContTitle{background:url(http://i03.c.aliimg.com/images/app/winport/layout/diybackground/style/temp61/body_cont_title.gif) repeat-x left top;}
.titleLinkColor{color:#560f00;}
.bodyLeft{margin-left:10px;float:right;}
.bodyRight{margin-left:0px;}
