/* CSS by liyi 2010-09-29 */
/*三块滑动*/

.font13 { font-size:12px; font-weight:bold;color:#ca0202;}
.font14 a:link,.font14 a:visited{ color:#0480b0;line-height:20px;text-decoration:none;}
.font14 a:hover,.font14 a:active{ color:#FF3300; text-decoration:underline;}
.SlideTabItem {
		position: absolute;
		width: 91%px;
		height:230px;
		}	
/*信息公开*/
.bg11{ border-top:1px solid #e8c470;border-bottom:1px solid #e8c470; background-color:#fbf9ec}
.bg11_2{ border-bottom:1px solid #e8c470;}
/*采样数据走势分析*/
.bg12{border-top:1px solid #b2d9d8;border-bottom:1px solid #b2d9d8; background-color:#f0fafc}
.bg12_2{background:url(../images/chengse.gif) no-repeat; width:140px; height:25px; color:#000000;font-weight:normal;}
/*生产检测*/
.bg13{ border-left:1px solid #cccccc;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc; background-color:#f0fafc}
/*  */
.bg13{background-color:#f3f9ed;}
.pd04{color:#333333;font-size:12px;}
.fwtd{
  background:url(../images/index_fwtdbg.jpg) no-repeat;padding-top:30px;float:left;padding-bottom: 5px;height:230px;
}
.zxqcx{
  background:url(../images/index_fwtdbg.jpg) right no-repeat;padding-top:30px;padding-right:30px;float:left;padding-bottom: 5px;
}
/*当前检测项*/
#dqjcx{padding-top:13px;}
.image{cursor:pointer;}
.image1{float:left; background:url(../images/middle_title.gif) no-repeat; width:100px; height:15px; color:#000000;font-size: 12px;
			padding-top: 10px; cursor: pointer; }
.image2{float:left; padding-top:10px; background:url(../images/middle_title.gif) no-repeat;font-weight:bold;width:100px;
            height:15px; color:#FF0000 ; font-size: 12px; cursor: pointer;}
#biao1{background:url(../images/zhu.png) no-repeat;background-position: center center;} 
#biao2{background:url(../images/niu.png) no-repeat;background-position: center center;}
#biao3{background:url(../images/dj.png) no-repeat;background-position: center center;}
#biao4{background:url(../images/rj.png) no-repeat;background-position: center center;}
#biao5{background:url(../images/zy.png) no-repeat;background-position: center center;}
#nndhi{background:url(../images/niu.png) no-repeat;background-position: center center;}
/*种畜禽查询*/
#zxqcx{ border-left:1px solid #e8c470; }