<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!-- 此配置文件为框架级，其中配置项请勿更改 -->
<!-- dao start -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>

	<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate"
		scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		scope="singleton">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<bean id="baseDaoImpl"
		class="com.imchooser.framework.dao.impl.BaseDaoServiceImpl"
		scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="baseDao"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces" value="com.imchooser.framework.dao.BaseDao"/>
		<property name="target">
			<ref bean="baseDaoImpl" />
		</property>
	</bean>
<!-- dao end -->
<!-- service start -->
	<!-- 下面3个bean为指定类每个方法执行作拦截打印执行时间。可用于调式，发布程序时必须注释掉此功能。 -->
	<!-- 
	<bean id="methodTimeInterceptor" class="com.imchooser.framework.interceptor.MethodTimeInterceptor" />
	<bean id="methodTimeAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref bean="methodTimeInterceptor" />
		</property>
		<property name="patterns">
			<value>.*.*</value>
		</property>
	</bean>
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>*baseDao</value>
				<value>*Service</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>methodTimeAdvisor</value>
			</list>
		</property>
	</bean>
	 -->
	<!-- 下面是事务抽象bean，需要使用事务控制的bean可以继承此bean（作用于service层） -->
	<bean id="txProxyTemplate" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="list">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="load">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<!-- #start 权限系统 -->
	<bean id="idMenuService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.imchooser.framework.identity.service.impl.IdMenuServiceImpl"
				autowire="byName" />
		</property>
	</bean>
	<bean id="idRoleService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.imchooser.framework.identity.service.impl.IdRoleServiceImpl"
				autowire="byName" />
		</property>
	</bean>
	<bean id="idGroupService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.imchooser.framework.identity.service.impl.IdGroupServiceImpl"
				autowire="byName" />
		</property>
	</bean>
	<bean id="idUserService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.imchooser.framework.identity.service.impl.IdUserServiceImpl"
				autowire="byName" />
		</property>
	</bean>
	<!-- #end 权限系统 -->
<!-- service end -->
<!-- action start -->
	<bean id="pager" class="com.imchooser.framework.util.Pager" scope="prototype"
		lazy-init="true" />

	<!-- #start 权限系统 -->
	<bean id="idUserAction"
		class="com.imchooser.framework.identity.action.IdUserAction"
		autowire="byName" scope="prototype" >
		<property name="baseService" ref="idUserService"></property>
	</bean>
	<bean id="idMenuAction"
		class="com.imchooser.framework.identity.action.IdMenuAction"
		autowire="byName" scope="prototype" >
		<property name="baseService" ref="idMenuService"></property>
	</bean>
	<bean id="idRoleAction"
		class="com.imchooser.framework.identity.action.IdRoleAction"
		autowire="byName" scope="prototype" >
		<property name="baseService" ref="idRoleService"></property>
	</bean>
	<bean id="idGroupAction"
		class="com.imchooser.framework.identity.action.IdGroupAction"
		autowire="byName" scope="prototype" >
		<property name="baseService" ref="idGroupService"></property>
	</bean>
	<!-- #end 权限系统 -->
	
<!-- action end -->
	
</beans>
